# dependencies
node_modules/

# next
.next/
out/
next-env.d.ts

# TypeScript build cache
*.tsbuildinfo

# tests
coverage/
playwright-report/
test-results/

# misc
.DS_Store
*.log

# env
.env*
!.env.example

# editor
.vscode/
.idea/
.aider*
